.card-wrapper {
    max-height: 100px;
}
.addButton {
    border: 3px solid var(--bs-dark-border-subtle);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    min-height: 540px;
}
.card-title {
    line-height: 1.5rem;
    height: 3rem;
    display: -webkit-box;
    overflow: hidden;
}
.card-text {
    line-height: 1.2rem;
    height: 3.7rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.card-price {
    font-weight: 600;
}
.card-img {
    width: 100%;
    // height: 253px;
}
.sub-card-title {
    color: #000;
    text-decoration: none !important;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}
.text-decoration-none {
    text-decoration: none;
}
